<!DOCTYPE HTML>
<html>
	<head>
		<title>Instagram</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<span class="avatar"><img src="{{url_for('static',filename='images/avatar.jpg')}}" alt="" /></span>

            <h1>{{us}}</h1>
            <br>
            <!-- About me button -->
            <a href="/about"><button style="color:white;width:40%" >More about me</button></a>
            <!--  -->
            <br> <br>
						<ul class="icons">
							<li><a href="https://twitter.com/i/flow/login?redirect_after_login=%2F%3Flang%3Den" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon style2 fa-500px"><span class="label">500px</span></a></li>
							<li><a href="https://accounts.google.com/InteractiveLogin/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&emr=1&followup=https%3A%2F%2Fmail.google.com%2Fmail%2Fu%2F0%2F&osid=1&passive=1209600&service=mail&ifkv=AeDOFXgJ6FRra_OSm_x7phRFyziiB0Y2t-ZWedJnp_JL8RxpMbwwEfw2NEHuoFfBJj_LpoOZ4aIOeg&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="icon style2 fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Main -->
					<section id="main">

						<!-- Thumbnails -->
							<section class="thumbnails">
                
                <div>
                	{% for link in pos %}
                	<img src={{link}}>
                	<h3> {{pos[link]}} </h3>
                	{% endfor %}
                  <a href="">
                        <img src={{im}} alt="" />
                        <h3>Caption... blah blah blah</h3>

                      </a>
                
                      <a href="">
                        <img src="{{url_for('static',filename='images/thumbs/02.jpg')}}" alt="" />
                        <h3>Caption... blah blah blah</h3>
                      </a>
                	}
                </div>    
                <div>
                  <a href="">
                        <img src="{{url_for('static',filename='images/thumbs/03.jpg')}}" alt="" />
                        <h3>Caption... blah blah blah</h3>
                      </a>
                </div>  

							</section>

					</section>

				<!-- Footer -->
					<footer id="footer">
						<p>&copy; MEET's (fake) Instagram. No rights reserved. 
					</footer>

			</div>

		<!-- Scripts -->
			<script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
			<script src="static/js/jquery.poptrox.min.js"></script>
			<script src="static/js/skel.min.js"></script>
			<script src="static/js/main.js"></script>

	</body>
</html>